<div class="modal">
  <div class="modal__overlay">
    <div class="modal__window">
      <div class="modal__close-btn button">
        <i class="far fa-times-circle"></i>
      </div>
      <div class="modal__title"></div>
      <div class="modal__content">
      </div>
    </div>
  </div>
</div>