<div class="menu__content settings">
  <h3 class="menu__title">Settings</h3>

  <form class="settings__form">

    <div class="settings__row">
      <div class="settings__title">
        Theme
      </div>
      <div class="settings__input">
        <select name="theme" id="theme">
          <option value="light">light</option>
          <option value="dark">dark</option>
        </select>
      </div>
    </div>

    <div class="settings__row">
      <div class="settings__title">
        Volume
      </div>
      <div class="settings__input">
        <div class="volume">
          <div class="volume__bar-container" title="Volume 10%">
            <div class="volume__bar"></div>
            <div class="volume__thumb"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="settings__delimiter"></div>

    <div class="settings__row">
      <div class="settings__title">
        Difficulty
      </div>
      <div class="settings__input">
        <select name="difficulty" id="difficulty">
          <option value="easy">easy</option>
          <option value="medium">medium</option>
          <option value="expert">expert</option>
        </select>
      </div>
    </div>

    <div class="settings__row">
      <div class="settings__title">
        Number of mines
      </div>
      <div class="settings__input">
        <div class="mines-input">
          <input class="mines-input__number" type="number" name="mines" id="mines" min="10" max="99">
        </div>
      </div>
    </div>

    <button class="button settings__button" type="submit">Apply</button>
    
  </form>
</div>