@import "@src/styles/breakpoints";

:root {
  --main-font: "Martian Mono", monospace;

  --container-width: 500px;
  --container-padding: 0px;
  --header-height: 40px;
  --footer-height: 50px;
  --rss-logo-width: 100px;

  --modal-transition: 400ms;
  --color-what: #333b41;
  --color-opened: #e3edfc;

  @include xs-breakpoint {
  }
}

[data-theme="light"] {
  --color-primary: #2673dd;
  --color-primary-38: rgba(38, 115, 221, 0.38);
  --color-primary-medium: rgba(38, 115, 221, 0.2);
  --color-primary-light: rgba(38, 115, 221, 0.05);
  --color-success: #44cc77;
  --color-success-medium: rgba(68, 204, 119, 0.3);
  --color-error: #ee2c4a;
  --color-error-medium: rgba(238, 44, 74, 0.2);
  --color-warning: #ffb800;
  --color-highlight: rgba(255, 122, 69, 0.87);
  --color-highlight-medium: rgba(255, 122, 69, 0.6);
  --color-highlight-light: rgba(255, 122, 69, 0.38);

  --color-bg: #f0f2f5;
  --color-panel-bg: #fafafa;
  --color-border: #e8e8e8;

  --color-text: rgba(0, 0, 0, 0.87);
  --color-text-medium: rgba(0, 0, 0, 0.6);
  --color-text-light: rgba(0, 0, 0, 0.38);
  --color-shadow: var(--color-text);
}

[data-theme="dark"] {
  --color-primary: #2673dd;
  --color-primary-38: rgba(38, 115, 221, 0.38);
  --color-primary-medium: rgba(38, 115, 221, 0.3);
  --color-primary-light: rgba(38, 115, 221, 0.14);
  --color-success: #309053;
  --color-success-medium: rgba(48, 144, 83, 0.3);
  --color-error: #a82830;
  --color-error-medium: rgba(168, 40, 48, 0.3);
  --color-warning: #b28400;
  --color-highlight: rgba(255, 122, 69, 0.87);
  --color-highlight-medium: rgba(255, 122, 69, 0.6);
  --color-highlight-light: rgba(255, 122, 69, 0.38);

  --color-bg: #121212;
  --color-panel-bg: #272727;
  --color-border: rgba(255, 255, 255, 0.09);

  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-medium: rgba(255, 255, 255, 0.6);
  --color-text-light: rgba(255, 255, 255, 0.38);
}
