@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "normalize.css";

@import "constants";
@import "mixins";
@import "breakpoints";
@import "general";
@import "animations";
@import "ui";
@import "layout";
@import "main";
@import "header";
@import "footer";
@import "modal";
@import "results";
@import "menu";
@import "settings";
@import "volume";
@import "stats";
