.button {
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;

  &:hover:active,
  &.active {
    color: var(--color-text);
    background-color: var(--color-highlight);
  }

  &.active {
    pointer-events: none;
  }

  @include no-select;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-highlight-light);
    }
  }
}

a {
  text-decoration: none;
  transition: 0.25s;
  color: var(--color-text-xl);
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;

  @media (hover: hover) {
    &:hover {
      border-bottom: 2px solid var(--color-highlight);
    }
  }
}
