<div class="modal results">
  <div class="modal__overlay">
    <div class="modal__window results__window">
      <div class="results__title"></div>
      <div class="results__content">
      </div>
    </div>
  </div>
</div>