<footer class="footer">
  <div class="container footer__container">
    <%- require('./rss-logo.ejs')() %>

    <div class="footer__right">
      <a class="github-link" href="https://github.com/tretyakov-a">
        <span class="github-link__icon">
          <i class="fa-brands fa-github"></i>
        </span>
        <span class="github-link__text">Tretyakov Alexander</span>
      </a>
      <span class="footer__year">
        2023
      </span>
    </div>
  </div>
</footer>
