<header class="header">
  <div class="container header__container">
    <nav class="header__help">
      <button class="button" data-tab-button="help">
        <i class="fa-regular fa-circle-question"></i>
      </button>
    </nav>
    <div class="header__title">Minesweeper</div>
    <nav class="header__toolbar">
      <button class="button" data-tab-button="stats">
        <i class="fa-solid fa-chart-simple"></i>
      </button>
      <button class="button" data-tab-button="settings">
        <i class="fa-solid fa-gears"></i>
      </button>
    </nav>
  </div>
</header>
