<a
  class="rss-logo"
  href="https://rs.school/js/"
  title="https://rs.school/js/"
  target="_blank"
  rel="noreferrer"
  >
  <img src="<%= require('@src/assets/rsslogo.svg') %>" alt="rsschool" />
</a>