<div class="menu__content stats">
  <h3 class="menu__title">Statistics</h3>
  <div class="stats__content">
    <header class="stats__header">
      <div class="stats__tab-title" data-stats-tab-title="easy">Easy</div>
      <div class="stats__tab-title" data-stats-tab-title="medium">Medium</div>
      <div class="stats__tab-title" data-stats-tab-title="expert">Expert</div>
    </header>
    <div class="stats__body">
      <div class="stats__tab" data-stats-tab="easy"></div>
      <div class="stats__tab" data-stats-tab="medium"></div>
      <div class="stats__tab" data-stats-tab="expert"></div>
    </div>
  </div>
</div>