@import "@src/styles/breakpoints";

:root {
  --color-primary: #f9804b;
  --color-primary-light: #fe9013;
  --color-primary-dark: #e47209;
  --color-secondary: #ffee2e;
  --color-win: #4b9200;
  --color-lose: #d31414;

  --color-bg: #333b41;
  --color-bg-scroll: #f5f7f6;
  --color-bg-disabled: #767474;
  --color-bg-donation-picker: #404950;
  --color-bg-donation-picker-line: #72828e;
  --color-bg-dark: #000000;
  --color-bg-light: #ffffff;

  --color-text: #212121;
  --color-text-xl: #424242;
  --color-text-l: #616161;
  --color-text-xm: #757575;
  --color-text-m: #bdbdbd;
  --color-text-xs: #e0e0e0;
  --color-text-s: #f5f5f5;
  --color-text-light: #ffffff;
  --main-font: "Martian Mono", monospace;

  --container-width: 500px;
  --container-padding: 0px;
  --header-height: 40px;
  --footer-height: 50px;
  --rss-logo-width: 100px;

  --modal-transition: 400ms;

  @include xs-breakpoint {
  }
}
