:root {
  --color-primary: #f9804b;
  --color-primary-light: #fe9013;
  --color-primary-dark: #e47209;
  --color-secondary: #4b9200;
  --color-secondary-2: #ffee2e;
  --color-secondary-3: #d31414;

  --color-bg: #333b41;
  --color-bg-scroll: #f5f7f6;
  --color-bg-disabled: #767474;
  --color-bg-donation-picker: #404950;
  --color-bg-donation-picker-line: #72828e;
  --color-bg-dark: #000000;
  --color-bg-light: #ffffff;

  --color-frosted-glass: rgba(253, 253, 255, 0.52);
  --color-text-s: #f1f3f2;
  --color-text-m: #bdbdbd;
  --color-text-l: #767474;
  --color-text-xl: #333b41;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
  --main-font: "Space Mono", monospace;

  --container-width: 1024px;
  --container-padding: 20px;
  --header-height: 50px;
  --footer-height: 50px;
  --rss-logo-width: 100px;
}
