*,
::before,
::after,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg-light);
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;

  &.no-y-scroll {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.rss-logo {
  display: block;
  width: var(--rss-logo-width);
}

#game-canvas {
  // border: 1px solid grey;
}
