.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding));
  margin: 0 auto;
  padding: 0 var(--container-padding);
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  flex: 0;
  min-height: var(--header-height);
}

.main {
  flex: 1;
  padding-top: 2rem;
}

.footer {
  flex: 0;
  min-height: var(--footer-height);
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 15px -10px var(--color-shadow);
  background-color: var(--color-primary-medium);
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;

  @media only screen and (max-width: 520px) {
    width: 100%;
    padding: 5px 0;
    border-radius: 0;
  }
}
