.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__overlay {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  &__window {
    min-width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: var(--color-bg-light);
    box-shadow: 0px 5px 15px -10px black;
    padding: 1rem;
  }

  &.show,
  &.hide {
    display: block;

    .modal__overlay {
      display: flex;
    }

    .modal__window {
      display: block;
    }
  }

  &.show {
    .modal__window {
      animation: var(--modal-transition) ease forwards slideIn;
    }
    .modal__overlay {
      animation: var(--modal-transition) ease forwards fadeIn;
    }
  }

  &.hide {
    .modal__overlay,
    .modal__window {
      animation: var(--modal-transition) ease-out forwards fadeOut;
    }
  }

  &__close-btn {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;

    &:hover:active,
    &_active {
      color: var(--color-text-xl);
      background-color: transparent;
      transform: translateY(1px);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-text-l);
        background-color: transparent;
      }
    }
  }
}
