.results {
  &__window {
    min-width: 300px;
  }

  &_win {
    .results__window {
      border: 1px solid var(--color-win);
    }
    .results__title {
      color: var(--color-win);
    }
  }

  &_lose {
    .results__window {
      border: 1px solid var(--color-lose);
    }
    .results__title {
      color: var(--color-lose);
    }
  }

  &__congratulation {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding: 10px;
    border: 1px solid var(--color-win);
    border-radius: 3px;
  }

  &__title {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--color-text-xl);
  }

  &__title-img {
    display: inline-block;
    margin-right: 0.5rem;
    height: 1.6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-block {
      line-height: 2rem;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--color-text-m);
    }

    &-row,
    &-sub-row {
      line-height: 2rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-text-m);

      &.no-underline {
        border-bottom: none;
      }
    }

    &-sub-row {
      padding-left: 0.5rem;
      border-bottom: none;
    }

    &-info-row {
      font-size: 0.75rem;
      color: var(--color-text-xm);
      text-align: right;
      line-height: 100%;
      margin-bottom: 0.5rem;
    }

    &-title {
      color: var(--color-text-xm);
    }

    &-data {
      text-align: right;
      font-weight: bold;
      color: var(--color-text-xl);

      & .units {
        font-weight: 400;
        color: var(--color-text-xm);
      }
    }
  }
}
