.settings {
  font-size: 1rem;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    height: 2rem;
  }

  &__title {
    flex: 1 1 50%;
    text-align: right;
    color: var(--color-text);
  }

  &__input {
    flex: 1 1 50%;

    select,
    input {
      color: var(--color-text);
      height: 32px;
      background-color: var(--color-primary-medium);
      border: 1px solid var(--color-border);
    }

    select {
      padding: 0 0.5rem;

      option {
        background-color: var(--color-panel-bg);
        margin: 0 2px;

        &:checked {
          background-color: var(--color-highlight-medium);
        }
      }
    }

    .mines-input {
      display: flex;

      input[type="number"] {
        width: 50px;
        padding-left: 0.5rem;
      }

      &__img {
        margin-left: 0.5rem;
        width: 20px;
      }
    }
  }

  &__button {
    font-size: 1rem;
    margin-top: 1rem;
    align-self: center;
    width: auto;
    background-color: var(--color-primary-medium);
    padding: 0 1rem;

    &:hover:active {
      background-color: var(--color-highlight-medium);
      transform: translateY(2px);
      box-shadow: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-highlight-medium);
        box-shadow: 0px 2px 5px -2px var(--color-shadow);
      }
    }
  }
}
