.button {
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: var(--color-text-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;

  &:hover:active,
  &_active {
    color: var(--color-text-xl);
    background-color: rgba(255, 255, 255, 0.6);
  }

  @include no-select;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

a {
  text-decoration: none;
  transition: 0.25s;
  color: var(--color-text-xl);
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;

  @media (hover: hover) {
    &:hover {
      border-bottom: 1px solid var(--color-text-l);
    }
  }
}
