.button {
  display: block;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  @include no-select;

  @media (hover: hover) {
  }
}
