.volume {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__bar-container {
    position: relative;
    width: 100px;
    height: 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-primary-medium);
    border-radius: 5px;
    margin-left: 5px;
  }

  &__bar {
    height: 100%;
    background-color: var(--color-primary);
    width: 10%;
    border-radius: 3px;
  }

  &__thumb {
    position: absolute;
    z-index: 1;
    left: calc(10% - 2px);
    @include vertical-align-center;
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 5px -1px var(--color-shadow);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s;

    &.dragged {
      background-color: var(--color-highlight);
    }
  }
}

@media (hover: hover) {
  .volume {
    &__bar-container:hover .volume__thumb {
      background-color: var(--color-highlight);
    }

    &__thumb {
      transition: background-color 0.25s;
    }
  }
}
